body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9,#8e44ad);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 10px 0;
}
    
#login-card{
    border-top: 1px solid silver;
    padding: 0 40px;
    box-sizing: border-box;
}


#logout-card{
    border-top: 1px solid silver;
    padding: 10px 0px 10px 0px;
    text-align: center;
    box-sizing: border-box;
}