#nav_bar {
  background-color: dimgray;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-bottom: 1px solid black;
}
#nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#nav_bar li {
  float: left;
  border-right: 1px solid #bbb;
}
#nav_bar li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav_bar li:last-child {
  float: right;
  border-left: 1px solid #bbb;
}
#nav_bar li a:hover {
  background-color: slategray;
}
.active {
  background-color: slategrey;
}

.like{
  display: inline-flex;
}